<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../setups/head") %>
</head>

<body>
  <%- include("../components/navbar") %>

  <section id="home-content" class="container">
    <div class="my-5">
      <div class="align-items-center d-flex justify-content-between mt-5 mb-5">
        <h3>Not Found</h3>
      </div>
      <div>
        <p>
          Data or page what you want is not available
        </p>
        <p class="mt-5">
          <small>Bali Dev Camp@2023</small>
        </p>
      </div>
    </div>
  </section>

  <%- include("../setups/script") %>
</body>

</html>