<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../setup/head'); %>
  </head>

  <body>
    <%- include('../components/navbar'); %>

    <section id="home-content" class="container">
      <div class="my-5">
        <div class="align-items-center d-flex justify-content-between mb-4">
          <h3>Detail</h3>
        </div>
        <div class="d-flex">
          <div>
            <img
              class="border mb-3"
              width="350"
              src="https://www.travelandleisure.com/thmb/eKGIFTp7RBsI6GbSv_Jqs3S8kAE=/fit-in/1500x1000/filters:no_upscale():max_bytes(150000):strip_icc()/adidas-womens-cloudfoam-pure-running-shoe-5f4e6602f9444d0f8570ec4c3f949c22.jpg"
              alt="shoe"
            />
            <img
              class="border mb-3"
              width="350"
              src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/3e85cebb-b631-4c33-9fd6-dc13eae442d4/mc-trainer-training-shoe-T9vmbZ.png"
              alt="shoe"
            />
            <img
              class="border mb-3"
              width="350"
              src="https://www.travelandleisure.com/thmb/1uFVFdJdietsGpy6D85Ikci54wE=/fit-in/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Allbirds-Womens-Plant-Pacers-c51a6d93cc554e60b33b3313c1bad464.jpg"
              alt="shoe"
            />
          </div>
          <div class="ms-5">
            <h5>Adidas</h5>
            <h2>Flat Shoe</h2>
            <p class="h6 my-4">Availability: In Stock</p>
            <p class="h5">Rp 50.000</p>
            <p class="my-4">Hurry up! Only 120 product left in stock!</p>
            <p>
              Wearing a good pair of shoes is important for maintaining overall
              foot health and preventing foot pain and injuries. Good shoes
              provide proper support and cushioning for the feet, reducing the
              impact of everyday activities like walking, running, and standing.
              Quality shoes are made from durable materials that allow the feet
              to breathe and move naturally, preventing foot odor and fungal
              infections. Additionally, good shoes can improve posture, reduce
              back pain, and enhance athletic performance for sports and
              exercise. Investing in a good pair of shoes is a smart choice for
              anyone who wants to prioritize their foot health and comfort.
            </p>
          </div>
        </div>
      </div>
    </section>

    <%- include('../setup/script'); %>
  </body>
</html>
